### EDA IOWA Dataset - Filter the dataset to obtain a new file filtered by dates (2024)

**Status:** PUBLIC Distribution <br>

**Author:** Jaume Manero IE<br>
**Date created:** 2021/02/1<br>
**Last modified:** 2024/09/30<br>
**Description:** Analysis of IOWA Dataset

This dataset contains every wholesale purchase of liquor in the State of Iowa by retailers for sale to individuals since January 1, 2012 til 2024
The State of Iowa controls the wholesale distribution of liquor intended for retail sale, which means this dataset offers a complete view of retail liquor sales in the entire state. The dataset contains every wholesale order of liquor by all grocery stores, liquor stores, convenience stores, etc., with details about the store and location, the exact liquor brand and size, and the number of bottles ordered.

In [1]:
# Liquor Sales : 
#    file: https://mydata.iowa.gov/Sales-Distribution/Iowa-Liquor-Sales/m3tr-qhgy
# US County Boundaries & FIP Codes
#    file: https://www2.census.gov/geo/tiger/GENZ2018/shp/cb_2018_us_county_20m.zip
# Counties Population
#    file: https://data.iowa.gov/Community-Demographics/County-Population-in-Iowa-by-Year/qtnr-zsrc
# Cities in IOWA population
#    file: https://data.iowa.gov/Community-Demographics/Total-City-Population-by-Year/acem-thbp

In [2]:
import pandas as pd
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

In [3]:
file = './data/Iowa_Liquor_Sales_20241013.csv'   # This is the last dataset downloaded from the IOWA site
df = pd.read_csv(file, header=0)

In [4]:
# let's see the years in the dataset
# first we create a datetime column
df['date_datetime'] = pd.to_datetime(df['Date'])
# Sort file by datetime
df = df.sort_values(by='date_datetime')
# Let's see the unique years
print(df['date_datetime'].dt.year.unique())
#

[2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

In [5]:
df.describe()

,Store Number,County Number,Category,Vendor Number,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),date_datetime
count,3.008200e+07,2.413284e+07,3.006503e+07,3.008199e+07,3.008200e+07,3.008200e+07,3.008199e+07,3.008199e+07,3.008200e+07,3.008199e+07,3.008200e+07,3.008200e+07,30082002
mean,3.942962e+03,5.725913e+01,1.050504e+06,2.746948e+02,1.212061e+01,8.746615e+02,1.078544e+01,1.618802e+01,1.086356e+01,1.458857e+02,9.142504e+00,2.412347e+00,2018-09-11 22:18:45.924159744
min,2.106000e+03,1.000000e+00,1.012200e+05,1.000000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.680000e+02,-9.720000e+03,-1.344000e+03,-3.550400e+02,2012-01-03 00:00:00
25%,2.623000e+03,3.100000e+01,1.012200e+06,1.840000e+02,6.000000e+00,7.500000e+02,5.740000e+00,8.610000e+00,3.000000e+00,3.597000e+01,1.500000e+00,4.000000e-01,2015-08-06 00:00:00
50%,3.909000e+03,6.200000e+01,1.031200e+06,2.600000e+02,1.200000e+01,7.500000e+02,8.500000e+00,1.275000e+01,6.000000e+00,7.740000e+01,4.800000e+00,1.260000e+00,2018-11-15 00:00:00
75%,4.829000e+03,7.700000e+01,1.062400e+06,3.950000e+02,1.200000e+01,1.000000e+03,1.300000e+01,1.950000e+01,1.200000e+01,1.498800e+02,1.050000e+01,2.770000e+00,2021-11-09 00:00:00
max,1.048400e+04,9.900000e+01,1.901200e+06,9.870000e+02,3.360000e+02,3.780000e+05,2.498902e+04,3.748353e+04,1.500000e+04,2.795573e+05,1.500000e+04,3.962580e+03,2024-09-30 00:00:00
std,1.349498e+03,2.728710e+01,8.407552e+04,1.458906e+02,7.792822e+00,6.226208e+02,1.339429e+01,2.009018e+01,3.057700e+01,5.139089e+02,3.630832e+01,9.591754e+00,NaN

In [6]:
df.tail(10)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),date_datetime
4382121,INV-74798900064,09/30/2024,2527,HY-VEE FOOD STORE #5 (1151) / DES MOINES,1107 SE ARMY POST RD,DES MOINES,50315,POINT (-93.7189 41.52566),NaN,POLK,...,DAMSO WATERMELON SOJU,20,375,3.05,4.58,20,91.60,7.50,1.98,2024-09-30
4369849,INV-74767400008,09/30/2024,2637,HY-VEE #5 / DAVENPORT,2351 W LOCUST,DAVENPORT,52804,POINT (-90.61232 41.53699),NaN,SCOTT,...,BLACK VELVET,48,200,1.75,2.63,10,26.30,2.00,0.52,2024-09-30
4369848,INV-74772300011,09/30/2024,5064,CASEY'S GENERAL STORE #2777 / FAIRFA,"65, WILLIAMS BLVD",FAIRFAX,52228,POINT (-91.77867 41.92876),NaN,LINN,...,TITOS HANDMADE VODKA,6,1750,19.00,28.50,6,171.00,10.50,2.77,2024-09-30
4382120,INV-74798800022,09/30/2024,3696,WAL-MART 1723 / DES MOINES,5101 SE 14TH ST,DES MOINES,50315,POINT (-93.59388 41.5369),NaN,POLK,...,BACARDI LIMON,12,750,8.76,13.14,12,157.68,9.00,2.37,2024-09-30
4369846,INV-74787100071,09/30/2024,2539,HY-VEE FOOD STORE (1295) / IOWA FALLS,640 S. OAK,IOWA FALLS,50126,POINT (-93.2624 42.50857),NaN,HARDIN,...,OLE SMOKY SALTY CARAMEL WHISKEY,6,750,11.00,16.50,12,198.00,9.00,2.37,2024-09-30
4369845,INV-74771400031,09/30/2024,5176,SMOKIN' JOE'S #15 TOBACCO AND LIQUOR OUTLET,455 EDGEWOOD RD NW,CEDAR RAPIDS,52405,POINT (-91.71547 41.97782),NaN,LINN,...,TITOS HANDMADE VODKA,12,750,10.00,15.00,12,180.00,9.00,2.37,2024-09-30
4382119,INV-74799300033,09/30/2024,2561,HY-VEE FOOD STORE (1148) / FLEUR / DSM,4605 FLEUR DRIVE,DES MOINES,50321,POINT (-93.64348 41.5422),NaN,POLK,...,GILBEYS GIN,6,1750,10.49,15.74,6,94.44,10.50,2.77,2024-09-30
4369843,INV-74771400056,09/30/2024,5176,SMOKIN' JOE'S #15 TOBACCO AND LIQUOR OUTLET,455 EDGEWOOD RD NW,CEDAR RAPIDS,52405,POINT (-91.71547 41.97782),NaN,LINN,...,OLE SMOKY BANANA PUDDING CREAM MOONSHINE MINI,8,50,8.75,13.13,2,26.26,0.10,0.02,2024-09-30
4369841,INV-74758000004,09/30/2024,5957,"LIQUOR, TOBACCO & GROCERY / DUBUQUE",1998 JACKSON ST,DUBUQUE,52001,POINT (-90.66825 42.51147),NaN,DUBUQUE,...,FIVE STAR,6,1750,8.39,12.59,6,75.54,10.50,2.77,2024-09-30
4371963,INV-74759800040,09/30/2024,6285,CASEY'S #3954 / NEWTON,4343 SOUTH 15TH AVE EAST,NEWTON,50208,POINT (-93.034064593 41.713493491),NaN,JASPER,...,HORNITOS PLATA,12,750,15.00,22.50,5,112.50,3.75,0.99,2024-09-30

In [7]:
df = df[df['date_datetime'] < '2024-09']

In [8]:
print(df['date_datetime'].dt.year.unique())

[2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

In [9]:
# We save the file 2012-2024
# first we drop the datetime column for cleaninless
df = df.drop('date_datetime', axis=1)
df.to_csv('./data/Iowa_Liquor_Sales_SEP2024.csv', index=False)

In [10]:
import session_info
session_info.show(html=False)

-----
pandas              2.2.2
session_info        1.0.0
-----
IPython             8.26.0
jupyter_client      8.6.2
jupyter_core        5.7.2
-----
Python 3.12.3 (main, Sep 11 2024, 14:17:37) [GCC 13.2.0]
Linux-5.15.153.1-microsoft-standard-WSL2-x86_64-with-glibc2.39
-----
Session information updated at 2024-10-13 19:39