## EDA IOWA Dataset 04 - Creating a Brand Column

**Status:** PUBLIC Distribution <br>

**Author:** Jaume Manero IE<br>
**Date created:** 2021/02/1<br>
**Last modified:** 2024/03/20 <br>
**Description:** Fixing missing values

How to create a support column with brand

In [1]:
import pandas as pd
import numpy as np
import time
%matplotlib inline

In [2]:
def seconds_to_hms(seconds):
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = seconds % 60
    return hours, minutes, seconds

In [3]:
start_time = time.time()   # it takes some time we have almost 30 million rows

file = 'Iowa_Liquor_Sales_DEC2023.csv'
df = pd.read_csv(file, header=0)

C:\Users\USER\AppData\Local\Temp\ipykernel_13572\2851729181.py:4: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, header=0)

In [4]:
df.dtypes

Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number               object
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [5]:
df.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [6]:
df['Category Name'].value_counts().reset_index()

                      Category Name    count
0                   AMERICAN VODKAS  2723052
1                 CANADIAN WHISKIES  2668875
2         STRAIGHT BOURBON WHISKIES  1771108
3                        SPICED RUM  1353820
4                   WHISKEY LIQUEUR  1290093
..                              ...      ...
98                    IMPORTED GINS       17
99          IMPORTED VODKA - CHERRY       14
100               IMPORTED WHISKIES       12
101  DELISTED / SPECIAL ORDER ITEMS        1
102               AMERICAN WHISKIES        1

[103 rows x 2 columns]

In [7]:
df['Vendor Name'].value_counts().reset_index()

                    Vendor Name    count
0               DIAGEO AMERICAS  4589353
1               JIM BEAM BRANDS  2552423
2          SAZERAC COMPANY  INC  1991223
3            HEAVEN HILL BRANDS  1508667
4                     LUXCO INC  1356044
..                          ...      ...
593  ADAMBA IMPORTS INT'L, INC.        1
594   THE HOUSE OF BURGUNDY INC        1
595           LUXE VINTAGES LLC        1
596    ST. LOUIS DISTILLERY LLC        1
597                  WHISTLEPIG        1

[598 rows x 2 columns]

In [8]:
brands = df['Item Description'].value_counts().reset_index()

In [9]:
# how to list only burnett's - create dataframe with burnett's rows
substring = 'Burnett'  # careful you have burnett and burnett's .... cleanse before :-)
sr = df[df['Item Description'].str.contains(substring, case=False)]
sr

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
358,S03388000051,01/03/2012,4073,"UPTOWN LIQUOR, LLC",306 HWY 69 SOUTH,FOREST CITY,50436,POINT (-93.633306 43.261538),95.0,WINNEBAGO,...,35418,BURNETT'S VODKA 80 PRF,6,1750,8.43,13.15,6,78.90,10.50,2.77
1039,S03408300153,01/03/2012,2614,HY-VEE #3 FOOD AND DRUGSTORE,1823 E KIMBERLY RD,DAVENPORT,52807,POINT (-90.548919 41.55678100000001),82.0,SCOTT,...,41927,BURNETT'S FRUIT PUNCH,12,750,3.88,6.15,3,18.45,2.25,0.59
1759,S03408800030,01/03/2012,2959,DAHL'S / MERLE HAY,4343 MERLE HAY ROAD,DES MOINES,50310,POINT (-93.697647 41.63740800000001),77.0,POLK,...,29568,BURNETT'S GIN LONDON DRY,6,1750,9.06,14.09,6,84.54,10.50,2.77
1974,S03404800067,01/03/2012,2573,HY-VEE FOOD STORE / MUSCATINE,2400 2ND AVE,MUSCATINE,52761,POINT (-91.035138 41.451349),70.0,MUSCATINE,...,35418,BURNETT'S VODKA 80 PRF,6,1750,8.43,13.15,6,78.90,10.50,2.77
2376,S03412100118,01/03/2012,2603,HY-VEE WINE AND SPIRITS / BETTENDORF,2890 DEVILS GLEN ROAD,BETTENDORF,52722,POINT (-90.483701 41.552338),82.0,SCOTT,...,41927,BURNETT'S FRUIT PUNCH,12,750,3.88,6.15,2,12.30,1.50,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27932527,INV-64777000033,11/30/2023,2602,HY-VEE FOOD STORE / WEBSTER CITY,823 2ND ST,WEBSTER CITY,50595.0,POINT (-93.825534011 42.47074498),NaN,HAMILTON,...,41670,BURNETTS BLUE RASPBERRY,12,750,4.50,6.75,3,20.25,2.25,0.59
27932735,INV-64786600047,11/30/2023,2621,HY-VEE FOOD STORE #3 / SIOUX CITY,3301 GORDON DR,SIOUX CITY,51105.0,POINT (-96.362866022 42.488984001),NaN,WOODBURY,...,41299,BURNETTS CHERRY,12,750,4.50,6.75,12,81.00,9.00,2.37
27932979,INV-64801600056,11/30/2023,2651,HY-VEE / WAVERLY,1311 4 STREET SW,WAVERLY,50677.0,POINT (-92.473949023 42.712225012),NaN,BREMER,...,29568,BURNETTS GIN LONDON DRY,6,1750,10.00,15.00,2,30.00,3.50,0.92
27933107,INV-64796200030,11/30/2023,10178,BANI'S / CEDAR FALLS,2128 COLLEGE STREET,CEDAR FALLS,50613.0,POINT (-92.455384029 42.518088986),NaN,BLACK HAWK,...,941060,SOOH BURNETTS PINK LEMONADE,12,750,4.50,6.75,12,81.00,9.00,2.37
27933364,INV-64793800049,11/30/2023,5651,SUPER QUICK MART / WINDSOR HEIGHTS,7690 HICKMAN RD,WINDSOR HEIGHTS,50324.0,POINT (-93.722437021 41.614007019),NaN,POLK,...,41326,BURNETTS CITRUS,12,750,4.50,6.75,2,13.50,1.50,0.39

In [10]:
brands = sr['Item Description'].value_counts().reset_index()
brands

                       Item Description  count
0                BURNETT'S VODKA 80 PRF  45491
1                  BURNETTS VODKA 80PRF  20677
2              BURNETT'S GIN LONDON DRY  10789
3              BURNETTS RASPBERRY VODKA   7194
4                BURNETT'S CHERRY VODKA   5387
..                                  ...    ...
130                   BURNETT'S  ORANGE      1
131  BURNETT'S  BLACKBERRY  FLAV. VODKA      1
132       BURNETT'S PEAR FLAVORED VODKA      1
133        BURNETTS WHIPPED CREAM VODKA      1
134               BURNETTS VODKA 100PRF      1

[135 rows x 2 columns]

In [11]:
def remove_first_name(name):
   a = name
   return a.split(' ', 1)[1]

# Create a column with Burnett's product without burnett's name
sr1 = sr.copy()
sr1['brand name'] = sr['Item Description'].copy().apply(remove_first_name)

In [12]:
sr1['brand name']

358                   VODKA 80 PRF
1039                   FRUIT PUNCH
1759                GIN LONDON DRY
1974                  VODKA 80 PRF
2376                   FRUIT PUNCH
                     ...
27932527            BLUE RASPBERRY
27932735                    CHERRY
27932979            GIN LONDON DRY
27933107    BURNETTS PINK LEMONADE
27933364                    CITRUS
Name: brand name, Length: 154993, dtype: object

In [13]:
import session_info
session_info.show(html=False)

-----
numpy               1.26.4
pandas              2.1.4
session_info        1.0.0
-----
IPython             8.20.0
jupyter_client      8.6.0
jupyter_core        5.5.0
jupyterlab          4.0.11
notebook            7.0.8
-----
Python 3.11.8 | packaged by Anaconda, Inc. | (main, Feb 26 2024, 21:34:05) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.22631-SP0
-----
Session information updated at 2024-03-21 00:01